@model Sitecore.Mvc.Presentation.RenderingModel
@using BasicCompany.Foundation.FieldRendering
@using OrderCloud.SDK
@using Tshirts.Feature.shop

@{
    var rawImages = @Html.Sitecore().Field(Templates.Product.Fields.Images);
    var image = rawImages.ToString().Split('|').Last().Split(';').Last();

    var price = Double.Parse(@Html.Sitecore().Field(Templates.Product.Fields.Price).ToString()).ToString("#.##");

    var maxUnits = @Html.Sitecore().Field(Templates.Product.Fields.Inventory);
    var name = @Html.Sitecore().Field(Templates.Product.Fields.Name);
    var id = @Html.Sitecore().Field(Templates.Product.Fields.Id);
    var description = @Html.Sitecore().Field(Templates.Product.Fields.Description);
}

<!-- single product -->
<div class="single-product mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="single-product-img">
                    <img src="@image" alt="">
                </div>
            </div>
            <div class="col-md-7">
                <div class="single-product-content">
                    <h3>@name</h3>
                    <p class="single-product-pricing"><span>Per Item</span> @price$</p>
                    @description
                    <div class="single-product-form">
                        <form id="product-form">
                            <input type="hidden" name="productId" id="productId" value="@id">
                            <input type="hidden" name="productName" id="productName" value="@name">
                            <input type="hidden" name="productPrice" id="productPrice" value="@price">
                            <input type="hidden" name="productStock" id="productStock" value="@maxUnits">
                            <input type="hidden" name="productImage" id="productImage" value="@image">
                            <div class="single-product-form__field">
                                <label for="quantity">Qty</label>
                                <input type="number" placeholder="0" min="1" max="@maxUnits" step="1" name="quantity"
                                       id="quantity" required value="1">
                            </div>
                            <div class="single-product-form__field">
                                <label for="size">Size</label>
                                <select name="size" id="size" class="single-product-form__select">
                                    @foreach (var size in Html.Sitecore().Field(Templates.Product.Fields.Size).ToString().Split(','))
                                    {
                                        <option value="@size">@size</option>
                                    }
                                </select>
                            </div>
                            <div class="single-product-form__field">
                                <label for="color">Color</label>
                                <select name="color" id="color" class="single-product-form__select">
                                    @foreach (var color in Html.Sitecore().Field(Templates.Product.Fields.Color).ToString().Split(','))
                                    {
                                        <option value="@color" selected>@color</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" class="cart-btn">
                                <i class="fas fa-shopping-cart"></i> Add to
                                Cart
                            </button>
                        </form>
                        <p><strong>Categories: </strong>Coding, Sitecore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end single product -->